@import '../../../static/css/mixin.scss';

.ratingselect {

    &-type {
        padding: 18px;
        @include border-bottom-1px(rgba(7, 17, 27, .1));

        &-block {
            display: inline-block;
            padding: 8px 12px;
            margin-right: 8px;
            line-height: 16px;
            border-radius: 1px;
            font-size: 1.2rem;
            color: rgb(77, 85, 93);
            
            .count {
                margin-left: 2px;
                font-size: .8rem;
            }

            &.active {
                color: #fff;
            }

            &.positive {
                background-color: rgba(0, 160, 220, .2);
                
                &.active {
                    background: rgb(0, 160, 220);
                }
            }

            &.negative {
                background-color: rgba(77, 85, 93, 0.2);

                &.active {
                    background: rgb(77, 85, 93);
                }
            }
        }
    }

    &-toggle {
        padding: 12px 18px;
        line-height: 24px;
        @include border-bottom-1px(rgba(7, 17, 27, 0.1));
        color: rgb(147, 153, 159);
        font-size: 0;

        .icon-check_circle {
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;
            font-size: 2.4rem;
        }

        &.on {
            .icon-check_circle {
                color: #00c850;
            }
        }

        &-text {
            font-size: 1.2rem;
        }
    }

    &-content {
        padding: 0 18px;


        .rating-item {
            display: flex;
            padding: 18px 0;
            @include border-bottom-1px(rgba(7, 17, 27, 0.1));

            &-avatar {
                width: 28px;
                height: auto;
                overflow: hidden;
                margin-right: 12px;

                > img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }
            }
        }

        .food-rating-item {
            padding: 16px 0;
            @include border-bottom-1px(rgba(7, 17, 27, 0.1));

            &-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 6px;
                font-size: 1rem;
                line-height: 12px;
                color: #93999f;

                .username {
                    > img {
                        width: 12px;
                        height: 12px;
                        margin-left: 6px;
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                }
            }

            .icon-thumb_up {
                margin-right: 4px;
                color: #00a0dc;
            }

            .icon-thumb_down {
                margin-right: 4px;
                color: #93999f;
            }
        }
    }
}