html, body {
    font-family: '微软雅黑';
    font-size: 10px;
}

.clear:after {
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
}

/* 动画 */
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
