@mixin border-bottom-1px($color: rgba(7, 17, 27, 0.1)) {
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid $color;
    }
}

@mixin border-top-1px($color: rgba(7, 17, 27, 0.1)) {
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-top: 1px solid $color;
    }
}

@mixin border-left-1px($color: rgba(7, 17, 27, 0.1)) {
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-left: 1px solid $color;
    }
}

@mixin border-right-1px($color: rgba(7, 17, 27, 0.1)) {
    position: relative;
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-right: 1px solid $color;
    }
}

@mixin border-none() {
    &:after {
        display: none;
    }
}

@mixin bg-image($url) {
    background: url($url + "@2x.png") no-repeat center;
    background-size: 100%;

    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background: url($url + "@3x.png") no-repeat center;
        background-size: 100%;
    }
}

@mixin ellipsis() {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
