@import '../../../static/css/mixin.scss';

.sell-wrapper {
    .nav {
        display: flex;
        width: 100%;
        height: 40px;
        line-height: 40px;
        @include border-bottom-1px(rgba(7, 17, 27, 0.1));

        &-item {
            flex: 1;
            text-align: center;

            & > a {
                color: rgb(77, 85, 93);
                font-size: 1.4rem;

                &.active {
                    color: rgb(240, 20, 20);
                }
            }
        }
    }
}
