@import '../../../static/css/mixin.scss';

.support-icon-1 {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 2px;

    &.decrease {
        @include bg-image('./images/decrease_1');
    }

    &.discount {
        @include bg-image('./images/discount_1');
    }

    &.special {
        @include bg-image('./images/special_1');
    }

    &.invoice {
        @include bg-image('./images/invoice_1');
    }

    &.guarantee {
        @include bg-image('./images/guarantee_1');
    }
}

.support-icon-2 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 4px;

    &.decrease {
        @include bg-image('./images/decrease_2');
    }

    &.discount {
        @include bg-image('./images/discount_2');
    }

    &.special {
        @include bg-image('./images/special_2');
    }

    &.invoice {
        @include bg-image('./images/invoice_2');
    }

    &.guarantee {
        @include bg-image('./images/guarantee_2');
    }
}

.support-icon-3 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 4px;

    &.decrease {
        @include bg-image('./images/decrease_3');
    }

    &.discount {
        @include bg-image('./images/discount_3');
    }

    &.special {
        @include bg-image('./images/special_3');
    }

    &.invoice {
        @include bg-image('./images/invoice_3');
    }

    &.guarantee {
        @include bg-image('./images/guarantee_3');
    }
}

.support-icon-4 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 4px;

    &.decrease {
        @include bg-image('./images/decrease_4');
    }

    &.discount {
        @include bg-image('./images/discount_4');
    }

    &.special {
        @include bg-image('./images/special_4');
    }

    &.invoice {
        @include bg-image('./images/invoice_4');
    }

    &.guarantee {
        @include bg-image('./images/guarantee_4');
    }
}
