@import '../../../static/css/mixin.scss';

.support-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 4px;

    &.decrease {
        @include bg-image('./images/decrease_2');
    }

    &.discount {
        @include bg-image('./images/discount_2');
    }

    &.special {
        @include bg-image('./images/special_2');
    }

    &.invoice {
        @include bg-image('./images/invoice_2');
    }

    &.guarantee {
        @include bg-image('./images/guarantee_2');
    }
}
