@import '../../../static/css/mixin.scss';

.shopping-cart {

    &-wrp {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 110;
        width: 100%;
        height: 48px;

        .shopping-cart-content {
            display: flex;
            background-color: #141d27;
            font-size: 0;
            color: rgba(255, 255, 255, 0.4);

            &-left {
                flex: 1;

                .logo {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    top: -10px;
                    margin: 0 12px;
                    padding: 6px;
                    width: 56px;
                    height: 56px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    background-color: #141d27;

                    &-cart {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        text-align: center;
                        background-color: #2b343c;

                        &.highlight {
                            background-color: rgb(0, 160, 220);

                            .icon-shopping_cart {
                                color: #fff;
                            }
                        }

                        .icon-shopping_cart {
                            line-height: 44px;
                            font-size: 2.4rem;
                            color: #80858a;
                        }
                    }

                    &-num {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0 8px;
                        height: 16px;
                        line-height: 16px;
                        text-align: center;
                        border-radius: 16px;
                        font-size: .9rem;
                        font-size: 700;
                        color: #fff;
                        background-color: rgb(240, 20, 20);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
                    }
                }

                .total-price {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 12px;
                    line-height: 24px;
                    padding-right: 12px;
                    box-sizing: border-box;
                    border-right: 1px solid rgba(255, 255, 255, .1);
                    font-size: 1.6rem;
                    font-weight: 700;

                    &.highlight {
                        color: #fff;
                    }
                }

                .desc {
                    display: inline-block;
                    vertical-align: top;
                    margin: 12px 0 0 12px;
                    line-height: 24px;
                    font-size: 10px;
                }
            }

            &-right {
                flex: 0 0 105px;
                width: 105px;

                .pay {
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 700;

                    &.not-enough {
                        background-color: #2b333b;
                    }

                    &.enough {
                        background-color: #00b43c;
                        color: #fff;
                    }
                }
            }
        }
    }

    &-list {
        width: 100%;
        max-height: 305px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: none;

        &.show {
            display: block;
        }

        &-header {
            height: 40px;
            line-height: 40px;
            padding: 0 18px;
            background-color: #f3f5f7;
            border-bottom: 1px solid rgba(7, 17, 27, 0.1);

            .title {
                float: left;
                font-size: 1.4rem;
                color: rgb(7, 17, 27);
            }

            .empty {
                float: right;
                font-size: 1.2rem;
                color: rgb(0, 160, 220);
            }
        }

        &-content {
            padding: 0 18px;
            overflow: hidden;
            background-color: #fff;

            .food {
                padding: 12px 0;
                @include border-bottom-1px(rgba(7, 17, 27, 0.1));
                line-height: 24px;

                &-name {
                    font-size: 1.4rem;
                    color: rgb(7, 17, 27);
                }

                &-price {
                    float: right;
                    font-size: 1rem;
                    color: rgb(240, 20, 20);
                    font-weight: 700;
                }
            }
        }
    }
}
