@import '../../../static/css/mixin.scss';

.header {
    position: relative;
    overflow: hidden;
    background-color: rgba(7, 17, 27, 0.5);
    color: #fff;

    .header-goods {
        display: flex;
        padding: 24px 12px 18px 24px;
        position: relative;

        &-thumail {
            width: 64px;
            height: 64px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
        }

        &-content {
            margin-left: 16px;
            flex: 1;

            .title {
                font-size: 0;
                height: 18px;
                line-height: 18px;

                &-icon {
                    display: inline-block;
                    width: 30px;
                    height: 18px;
                    @include bg-image('./images/brand');
                    vertical-align: top;
                }

                span {
                    display: inline-block;
                    margin-left: 6px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .des {
                height: 12px;
                line-height: 12px;
                margin: 8px 0 10px;
                font-weight: 100;
            }

            .supports {
                position: relative;
                font-size: 1rem;
                font-weight: 200;

                .support-icon {
                     width: 12px;
                     height: 12px;
                }

                .support-des {
                    height: 12px;
                    line-height: 12px;
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }

        &-count {
            position: absolute;
            right: 12px;
            bottom: 14px;
            padding: 0 8px;
            height: 24px;
            line-height: 24px;
            border-radius: 14px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.2);

            .support-num {
                vertical-align: top;
                font-size: 1rem;
            }

            .icon-keyboard_arrow_right {
                margin-left: 2px;
                line-height: 24px;
                font-size: 1rem;
            }
        }
    }

    .header-notice {
        @include ellipsis;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 28px;
        line-height: 28px;
        background-color: rgba(7, 17, 27, 0.2);
        padding: 0 22px 0 12px;

        .notice-icon {
            @include bg-image('./images/bulletin');
            display: inline-block;
            width: 22px;
            height: 12px;
            vertical-align: middle;
        }

        span {
            margin: 0 4px;
            font-size: 1rem;
            font-weight: 200;
        }

        .icon-keyboard_arrow_right {
            position: absolute;
            font-size: 1rem;
            right: 12px;
            top: 8px;
        }
    }

    .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
            filter: blur(10px);
        }
    }

    .header-detail {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(10px);
        background-color: rgba(7, 17, 27, 0.8);
        padding: 64px 36px 0;
        color: #fff;
        transition: all 0.5s linear;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        .header-wrapper {
            width: 100%;
            min-height: 100%;
            padding-bottom: 64px;

            &-name {
                font-size: 1.6rem;
                font-weight: 700;
                height: 16px;
                line-height: 16px;
                margin-bottom: 16px;
                text-align: center;
            }

            .star {
                text-align: center;
            }

            &-title {
                display: flex;
                margin: 28px 0 24px;
                align-items: center;

                .line {
                    flex: 1;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }

                .text {
                    font-size: 1.4rem;
                    font-weight: 700;
                    height: 16px;
                    line-height: 16px;
                    padding: 0 12px;
                }
            }

            &-supports {
                .support-item {
                    padding: 0 12px;
                    margin-bottom: 12px;
                    font-size: 0;

                    .text {
                        line-height: 16px;
                        font-size: 1.2rem;
                    }
                }
            }

            &-bulletin {
                .content {
                    font-size: 1.2rem;
                    font-weight: 200;
                    line-height: 24px;
                    padding: 0 12px;
                }
            }
        }

        &-close {
            position: relative;
            width: 32px;
            height: 32px;
            font-size: 32px;
            margin: -64px auto 0 auto;
            clear: both;
        }
    }
}
