@import '../../../static/css/mixin.scss';

.goods {
    display: flex;
    position: absolute;
    top: 174px;
    bottom: 46px;
    width: 100%;
    overflow: hidden;

    &-menu {
        flex: 0 0 80px;
        width: 80px;
        background-color: #f3f5f7;

        &-item {
            display: table;
            height: 54px;
            line-height: 14px;
            font-size: 1.2rem;
            padding: 0 12px;

            &.current {
                position: relative;
                z-index: 10;
                margin-top: -1px;
                background-color: #fff;
                font-weight: 700;
                border-left: 4px solid #00a0dc;

                .name {
                    @include border-none();
                }
            }

            .name {
                display: table-cell;
                vertical-align: middle;
                width: 56px;
                color: #07111b;
                @include border-bottom-1px(rgba(7, 17, 27, 0.1));
            }
        }
    }

    &-detail {
        flex: 1;

        &-good {
            .title {
                padding-left: 14px;
                height: 26px;
                line-height: 26px;
                border-left: 2px solid #d9dde1;
                font-size: 1.2rem;
                color: rgb(147, 153, 159);
                background-color: #f3f5f7;
            }
        }
    }
}
